.container {
  display: flex;
  justify-content: center;
}

.form-group {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.label {
  font-size: 18px;
  padding: 0.2rem;
}
.label-content {
  display: flex;
  align-items: center;
}
.unique {
  color: red;
}
.input-change {
  /* width: 100%; */
  padding-left: 0.5rem;
  width: 15rem;
  height: 2.4rem;
  border-radius: 50px;
  font-size: 17px;
}
.input::placeholder {
  padding-left: 1rem;
}

.button-container {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.button {
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.cancel-button {
  background-color: #d3dbdd;
  font-size: 18px;
  color: black;
  padding: 0.7rem 1rem;
  gap: 1rem;
  align-items: center;
  display: flex;
}
/* .cancel-button:hover {
    background-color: red;
  } */

.submit-button {
  font-size: 18px;
  color: whitesmoke;
  padding: 0.7rem 1rem;
  gap: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #a36acb;
}
/* .submit-button:hover {
    background-color: rgb(192, 56, 124);
  } */
.btn {
  display: flex;
}
