:root {
    --width-box: 320px;
}
.border-text-white {
    text-shadow:
            1px 1px 0 black,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black;
}
.border-text-black {
    text-shadow:
            1px 1px 0 #CBD2D4,
            -1px -1px 0 #CBD2D4,
            1px -1px 0 #CBD2D4,
            -1px 1px 0 #CBD2D4;
}
.cursorPoint {
    cursor: pointer;
}
.borderRadius {
    border-radius: 20px;
}
.showListButton {
    aspect-ratio: 1/1;
    width: 80px;
    background-image: url("image/friend-message.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 20px;
    right: 30px;
    transition-duration: 0.2s;
    animation: ease-in-out switchChat 0.5s;
    z-index: 1000;
}
.showListButton:hover {
    scale: 1.1;
    transition-duration: 0.2s;
}
@keyframes switchChat {
    0% {
        right: -80px;
    }
}
.showListButton-numbermessage {
    position: absolute;
    left: 55%;
    top: 10%;
    padding: 5px 15px;
    border: black 3px solid;
    font-weight: bold;
}
.chatbox {
    z-index: 1000;
    width: var(--width-box);
    height: calc(100% - 75px);
    display: grid;
    grid-template-rows: 100px 1fr 70px;
    position: fixed;
    right: 0;
    bottom: 0;
    border-top: 2px white dashed;
    border-left: 2px white dashed;
    animation: ease-in-out switchChatBox 0.5s;
    padding: 10px;
}
@keyframes switchChatBox {
    0% {
        right: -50%;
    }
}
.chatbox-feature {
    padding: 15px 0;
    display: grid;
    grid-template-columns: 70px 15px 1fr;
}
.chatbox-feature-avata {
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}
.chatbox-feature-info{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.chatbox-feature-info p {
    font-size: 18px;
    height: 100%;
    margin: 0;
    color: white;
    align-items: center;
    display: flex;
}
.chatSelected {
    background-color: rgba(204, 187, 228, 0.5);
}

.chatbox-friendList {
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr 40px;
    grid-template-areas: "chatbox-list" "chatbox-search";
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-image: url("image/pngwing.com.png");
}
.chatbox-friendList-search {
    height: 35px;
    border: black 1px outset;
    padding-left: 45px;
    background-color: rgba(255,255,255,0.5);
    background-image: url("image/search.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 5px;
    background-position-y: center;
    font-size: 16px;
    grid-area: chatbox-search;
}
.chatbox-friendList h3 {
    text-align: center;
}
.chatbox-friendList-board {
    grid-area: chatbox-list;
    overflow: auto;
}
.chatbox-friendList-board-detail:hover {
    background-color: rgba(204, 187, 228, 0.9);
    transition-duration: 0.2s;
}
.chatbox-friendList-board-detail {
    display: grid;
    height: 80px;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "avata name" "avata mess" "avata time";
    transition-duration: 0.2s;
}
.chatbox-friendList-board-detail-avata {
    width: 90%;
    margin: 5%;
    aspect-ratio: 1/1;
    background-size: cover;
    border-radius: 50%;
    grid-area: avata;
}
.chatbox-friendList-board-detail-name {
    grid-area: name;
    margin: 0;
}
.chatbox-friendList-board-detail-name-name {
    font-size: 16px;
    margin: 0 10px 0 10px;
}
.chatbox-friendList-board-detail-mess {
    grid-area: mess;
    margin: 0 0 0 10px;
}
.chatbox-friendList-board-detail-time {
    grid-area: time;
    text-align: right;
}
.online {
    border: limegreen 2px solid;
}
.text-online {
    color: green;
}
.offline {
    border: gray 2px solid;
    filter: grayscale(100%);
}
.text-offline {
    color: gray;
}
.busy {
    border: #9D66C3 2px solid;
}
.text-busy {
    color: #9D66C3;
}
.chatbox-button {
    display: grid;
    grid-template-columns: 60px 1fr 45px 10px 45px;
}
.chatbox-button-mode {
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}
.chatbox-button-key {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 0.1s;
}
.chatbox-button-key:hover {
    background-size: 40px;
    transition-duration: 0.1s;
}
.chatbox-button-hidden {
    background-image: url("image/close-chatbox.png");
}
.chatbox-button-unknowmessage {
    background-image: url("image/unknow-message.png");

}
.chatbox-button-knowmessage {
    background-image: url("image/friend-message.png");
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30px;
    cursor: pointer;
}
.toggle-switch input[type="checkbox"] {
    display: none;
}
.toggle-switch-background {
    position: absolute;
    top: 20px;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px #ccc;
    transition: background-color 0.3s ease-in-out;
}
.toggle-switch-handle {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}
.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
    background-color: #9D66C3;
    box-shadow: inset 0 0 0 2px white;
}
.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
    transform: translateX(30px);
}
.alertMess {
    margin-left: 10px;
    padding: 5px 10px;
    font-weight: normal;
    font-size: 14px;
}
.chatdetail {
    grid-area: chatDetail;
    padding: 10px;
    bottom: 0;
    border-left: 2px white dashed;
    border-top: 2px white dashed;
    border-top-left-radius: 20px;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    width: var(--width-box);
    height: 450px;
    position: fixed;
    right: var(--width-box);
    animation: ease-in-out switchChatBox 0.5s;
    z-index: 1000;
}
.chatdetail-profile {
    display: grid;
    grid-template-columns: 1fr 50px;
}
.chatdetail-profile-info {
    height: 50px;
    padding: 0;
    border-radius: 50px;
    width: 95%;
    display: grid;
    grid-template-columns: 50px 1fr;
}
.chatdetail-profile-info-avata {
    background-size: cover;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    height: 50px
}
.chatdetail-profile-info-text {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 10px;
}
.chatdetail-profile-info-text p{
    font-size: 18px;
    font-weight: bolder;
    margin: 0;
    display: flex;
    align-items: end;
}
.chatdetail-profile-info-text small {
    display: flex;
    align-items: start;
}
.chatdetail-profile-button {
    height: 50px;
    transition-duration: 0.1s;
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("image/Close.png");
}
.chatdetail-profile-button:hover {
    background-size: 40px;
    transition-duration: 0.1s;
}
.chatdetail-feature {
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 50px) 1fr 50px;
}
.chatdetail-feature-inputText {
    width: 100%;
    border: none;
    color: black;
    font-size: 16px;
    padding: 0 15px;

}
.chatdetail-feature-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    background-image: url("image/add image.png");
}
.chatdetail-feature-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    background-image: url("image/location.png");
    transition-duration: 0.1s;
}
.chatdetail-feature-send {
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("image/send-1.png");
    transition-duration: 0.1s;
}
.chatdetail-feature-icon:hover, .chatdetail-feature-img:hover{
    transition-duration: 0.1s;
    background-size: 43px;
}
.chatdetail-feature-send:hover {
    transition-duration: 0.1s;
    background-size: 38px;
}
.chatdetail-box {
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    background-image: url("image/background-chatbox.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.ownMess {
    justify-content: right;
    grid-template-areas: "none option message";
}
.friendsMess {
    justify-content: left;
    grid-template-areas: "message option none";
}
.mess {
    display: grid;
    margin: 0;
    padding: 0;
}
.mess p {
    max-width: 200px;
    padding: 5px 15px;
    margin: 5px;
    width: fit-content;
    cursor: context-menu;
    word-wrap: break-word;
}
.mess-modal {
    display: grid;
    grid-template-columns: 1fr 100px 100px;
}
.mess-modal div {
    height: 30px;
    margin: 5px;
    border-radius: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
}
.mess-modal div:hover {
    transition-duration: 0.2s;
    scale: 1.05;
}
.mess-revoke {
    color: gray;
}
.option {
    width: 20px;
    height: 100%;
    margin-top: 2.5px;
    background-image: url("image/select.png");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.image-content {
    width: 200px;
    background-position: center;
    background-size: cover;
    margin: 5px;
    transition-duration: 0.2s;
}
.image-content:hover {
    scale: 1.03;
    transition-duration: 0.2s;
}
.array-image {
    position: fixed;
    bottom: 2%;
    left: 2%;
    width: calc(98% - var(--width-box));
    z-index: 100000;
    background-color: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: black 2px dashed;
    border-top: black 2px dashed;
    border-bottom: black 2px dashed;
    display: grid;
    padding: 20px;
    grid-template-columns: 300px 50px 1fr 50px;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
            "array none1 detail close"
            "array prev detail next"
            "array none2 time none3";
}
.array-image-array {
    grid-area: array;
    margin-right: 20px;
    border: black 2px dashed;
    overflow: auto;
}
.array-image-detail {
    grid-area: detail;
    margin: 0 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}
.array-image-close, .array-image-prev, .array-image-next {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
}
.array-image-close {
    grid-area: close;
    background-image: url("image/close-array.png");
}
.array-image-prev {
    grid-area: prev;
    background-image: url("image/prev-icon.png");
}
.array-image-next {
    grid-area: next;
    background-image: url("image/next-icon.png");
}
.array-image-time {
    grid-area: time;
}
.hover-button {
    transition-duration: 0.5s;
}
.hover-button:hover {
    background-size: 45px;
    transition-duration: 0.5s;
}
.array-image-array-image {
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: calc(100% - 20px);
    aspect-ratio: 4/3;
    transition-duration: 0.2s;
}
.array-image-array-image:hover {
    scale: 0.98;
    transition-duration: 0.2s;
}
.array-image-array-image-select {
    border: #9D66C3 3px solid;

}
.array-image-array-image-unselect {
    border: white 3px solid;
}
.emoji-table {
    position: fixed;
    right: calc(var(--width-box) * 2);
    bottom: 0;
    z-index: 1;
    width: var(--width-box);
}

@media screen and (max-width: 960px) {
    .emoji-table {
        right: var(--width-box);
        bottom: 450px;
    }
}
@media screen and (max-width: 640px) {
    :root {
        --width-box: 50%;
    }
}
.text-smoke {
    color: gray;
}
.unknowMessageTable {
    width: 500px;
    height: 110px;
    position: fixed;
    left: calc((100% - 500px) / 2);
    top: 10%;
    display: grid;
    grid-template-columns: 1fr 60px 60px;
    grid-template-rows: 1fr 20px;
    padding: 15px;
    grid-template-areas: "input close send" "note note note";
}
.unknowMessageTable-input {
    padding: 0 15px;
    border: none;
    grid-area: input;
    height: 50px;
}
.unknowMessageTable-close, .unknowMessageTable-send {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.2s;
}
.unknowMessageTable-close:hover, .unknowMessageTable-send:hover {
    transition-duration: 0.2s;
    background-size: 45px;
}
.unknowMessageTable-send {
    grid-area: send;
    background-image: url("image/send-1.png");
}
.unknowMessageTable-close {
    grid-area: close;
    background-image: url("image/Close.png");
}
.unknowMessageTable-note {
    grid-area: note;
    text-align: center;
}