@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito+Sans:ital,opsz,wght@0,6..12,600;1,6..12,600&display=swap');
* {
    font-family: 'Nunito Sans', sans-serif;
    color: #151018;
    box-sizing: border-box;
}
.title-text {
    font-family: 'Agbalumo', sans-serif;
}
.color0 {
    background-color: white;
}
.color1 {
    background-color: #71959D;
}
.color2 {
    background-color: #CBD2D4;
}
.color3 {
    background-color: #CCBBE4;
    color: white;
}
.color4 {
    background-color: #D0A8DE;
    color: white;
}
.color5 {
    background-color: #9D66C3;
    color: white;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}