* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: Nunito Sans, sans-serif;
}

/**/
#thienbb-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #383896 100%);
}

/**/
.thienbb-main-form {
    position: relative;
    left: 50%;
    top: 14%;
    transform: translateX(-50%);
    width: 36%;
    height: auto;
    border-radius: 25px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #784BA0 100%);
    padding-top: 15px;
    padding-bottom: 15px;
}

/**/
.thienbb-login-title {
    padding-top: 2%;
    text-align: center;
    color: #3f426e;
    font-size: 36px;
    font-weight: bold;
    font-family: Agbalumo, sans-serif;;
}

/**/
.login-form {
    text-align: center;
    color: white;
    padding-right: 5%;
    padding-left: 5%;
}

.form-child-unit, .form-child-btn {
    padding-top: 4%;
    margin-top: 1%;
}

/*login, login with facebook button*/
.thienbb-login-btn, .thienbb-fb-login-tag {
    color: white;
    margin-top: 1%;
    border: 1px solid #ffffff;
    border-radius: 19px;
    vertical-align: center;
    height: 50px;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    transition: 3s;
    box-shadow: rgba(0, 0, 0, 0.18) 0 2px 4px;
    background-image: linear-gradient(150deg, #3f426e 0%, #594a91 46%, #8d84b5 100%);

}

.thienbb-login-btn:hover, .thienbb-fb-login-tag:hover {
    background: linear-gradient(90deg, hsla(216, 75%, 26%, 1) 0%, hsla(316, 75%, 26%, 1) 100%);
}

/*facebook icon */
.fa-facebook {
    font-size: 17px;
}

/*username and password field*/
.input-tag {
    height: 45px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    padding-left: 15px;
    font-weight: bold;
}

.input-tag::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.input-tag:focus {
    outline: none;
    border: none;
}

/*option*/
.thienbb-a-link {
    font-weight: bold;
    color: #ffffff;
}

.thienbb-a-link:hover {
    text-decoration: underline;
    color: #ffffff;
}

/*remember me*/
.thienbb-form-child-remember {
    width: 100%;
    padding-top: 2%;
    float: right;
}


/*responsive*/
@media screen and (max-width: 992px) {
    .thienbb-main-form {
        width: 90%;
    }
}

@media screen and (max-width: 1280px) {
    .thienbb-main-form {
        width: 90%;
    }
}

/*button vertical spacing*/
.login-btn {
    padding-top: 3%;
}

.thienbb-login-with-fb-btn {
    padding-top: 1%;
}

.thienbb-login-text {
    color: #ffffff;
}

/*facebook icon in login button*/
.thienbb-fb-icon {
    color: white;
}

.form-child-option {
    padding-top: 3%;
}

.thienbb-remember-me-text {
    color: #ffffff;
}

/*error msg*/
.thienbb-form-err-msg {
    color: rgba(255, 153, 29, 0.86);
}

#thienbb-remember-me {
}
