{
.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

input[type="file"] {
    display: none;
}

.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.5em 0.8em 1.2em;
    color: white;
    background: #ad5389;
    background: #9d66c3;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgb(184, 146, 255);
    letter-spacing: 0.05em;
    border-radius: 20em;
}

.cssbuttons-io-button svg {
    margin-right: 8px;
}

.cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em rgb(149, 91, 255);
}

.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em rgb(160, 109, 255);
}

header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    background-color: #A36ACB;
    font-family: Nunito Sans, sans-serif;
    z-index: 1000;
}

.icon {
    font-size: 30px;
    width: 40px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
    --bs-navbar-brand-margin-end: 100%;
}

.navbar .container {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container .navbar-brand {
    color: rgb(173, 178, 203);
}

.navbar .nav-link {
    color: black;
    font-weight: bolder;
    border-radius: 18px;
    padding: 8px 16px;
}
}